.home {
    align-items: center;
    padding: 0 0 0 50px;
    
}
.home img {
    flex: 1;
    align-self: flex-end;
}
.home h1 {
    font-size: 3em;
    flex: 1;
}
@media screen and (max-width: 1439px) {
    .home {
        padding: 10px;
    }
    .home h1 {
        font-size: 20px;
    }
    .home img {
        width: 350px;
    }
}
@media screen and (max-width: 768px) {
    .home {
        flex-direction: column;
    }
    .home img {
        width: 250px;
        order: 1;
        margin: auto;
    }
    .home h1 {
        order: 2;
    }
}